{% extends "base.html" %}
{% load static %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <h1>Welcome to Your User Home Page!</h1>
    <p>Here you can manage your account:</p>
    <p><a href="{% url 'password_change' %}">Change Password</a></p>
    <p><a href="{% url 'choose_allergens' %}">Manage Allergens</a></p>

    <!-- Search form -->
    <form class="search-form" action="{% url 'search' %}" method="GET">
        <label>
            <input type="text" name="query" placeholder="Search..." class="search-input">
        </label>
        <button type="submit" class="search-button">Search</button>
    </form>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
{% endblock %}
